<p *ngIf="!dogs"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="dogs">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dog of dogs">
      <td>{{ dog.id }}</td>
      <td>{{ dog.name }}</td>
      <td>{{ dog.age }}</td>
      <td><!--For change function--></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" [(ngModel)]="name"></td>
      <td>
        <input type="number" [(ngModel)]="age">
      </td>
      <td><input class="" type="submit" value="Add dog" (click)="addDog()"></td>
    </tr>
</tbody>
</table>
