<p *ngIf="!dogs"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="dogs">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dog of dogs">
      <td>{{ dog.id }}</td>
      <td>{{ dog.name }}</td>
      <td>{{ dog.age }}</td>
    </tr>
</tbody>
</table>
<form #dogForm="ngForm" class="dogForm" (ngSubmit)="onSubmit()">
  <label for="name">Dog's name:</label>
  <input name="name" id="name" type="text" placeholder="Enter name" [(ngModel)]="name">
  <label for="age">Dog's age:</label>
  <input name="age" id="age" type="number" [(ngModel)]="age">
  <button type="submit">Add new dog</button>
</form>
